
.post_title{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid rgba(0,0,0,0.2)
}
a.post_title{
	text-decoration: none;
	color:#000;
	font-size:18px;
	text-transform: uppercase;
	border:none;
}

h1{
	margin:0
}
body{
	margin:0;
	padding:0;
}
h1#logo a{
	text-decoration: none;
	color:#000;
	font-size:24px;
	text-transform: uppercase;
	padding-left:15px;
}
#header{
	background: rgba(150,164,252,0.6);
	width:100%;
	margin-bottom:20px;
}
p.meta{
	padding-left:15px;
}
.navbar-default .navbar-nav>.active>a{
	
	background:none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important; 
}
.navbar-default {
	background:none !important;
	border:none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important; 
}
.navbar{
	
	margin:0 !important;
}
label{
	vertical-align:top;
}
.post p{
	text-align: justify;
	text-indent: 10px;
}
a span{
	padding-left:15px;
}
.paddinzero{
	padding:0;
}
textarea{
	resize:none;
}
input,textarea{
	width:80%;
}
