{% extends "blog/base.html" %}

{% block content %}
    <div class="post">
     
        <h1 class="post_title">{{ post.title }}</h1>
           {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p class="content">{{ post.text|linebreaks }}</p>
        {% if user.is_authenticated %}
        	<a class="btn btn-default pull-right" href="{% url "post_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil paddinzero"></span></a>
    	{% endif %}
    </div>
{% endblock %}