{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">

	</div>
	<div class="container">
			<div class="row">
				<div class="post">
					{% for post in object_list %}
						{% if user == post.author %}
			    		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 post">
			        		<a class="post_title" href="{% url "posts:post_detail" pk=post.pk %}">{{ post.title }}</a>
			        		<p class="meta">published: {{ user }} {{ post.published_date }}</p>
			       		 	<p>{{ post.text|linebreaks }}</p>
			    		</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
	</div>


{% endblock content %}
