{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Django Blog</title>
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "bootstrap-theme.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
		<script src="{% static "js/jquery-2.1.4.min.js" %}" ></script>
		<script src="{% static "js/bootstrap.min.js" %}" ></script>
	</head>
		<body class="imbody">
			<div id="header">
			<div class="container">
			{% include 'nav_bar.html' %}
			</div>

    		</div>

				 {% block content %}
            	{% endblock %}

	</body>
</html>
