<nav class="navbar navbar-default"  role ="navigation">
    <div class="navbar-header">
      <button type = "button" class = "navbar-toggle"
          data-toggle = "collapse" data-target = "#django-bar">
          <span class = "sr-only">Toggle navigation</span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>
      <a class="navbar-brand" href="/">Django Blog</a>
    </div>
    <div class="collapse navbar-collapse" id="django-bar">
      <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home<span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="{% url "posts:post_new" %}">Add Post<span class="glyphicon glyphicon-plus"></span></a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url "user:logout" %}">Logout<span class="glyphicon glyphicon-user"></span></a></li>
          {% else %}
            <li><a href="{% url "user:login" %}">Login<span class="glyphicon glyphicon-user"></span></a></li>
          {% endif %}
        </ul>
      </div>

</nav>
